#!/bin/bash
/mnt/solana/target/release/solana-validator --identity /home/solana/rpc_node.json --rpc-port 8899 --full-rpc-api --entrypoint entrypoint.mainnet-beta.solana.com:8001 --limit-ledger-size --log /mnt/logs/solana-validator.log --accounts /mnt/solana-accounts --ledger /mnt/solana-ledger --snapshots /mnt/solana-snapshots --no-snapshot-fetch 
